@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;400;500;600&display=swap');

$maincolor: #015810;
$secondcolor: rgb(168, 201, 177);
$bgcol: #fffff2;
$headerbgcolor: #b3cca5;
$maxwidth: 530px;
$randCol: #b3b7ce;
$yellow: #EBE196;
$gray: #bbb;

* {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
    color: $maincolor;
}

.header {
    background-color: $headerbgcolor;
    display: grid;
    grid-template-columns: minmax(0px, $maxwidth);
    justify-content: center;
    height: 7vh;
    align-items: center;

    &-buttons {
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
        column-gap: 35px;
        align-items: center;

        & svg {
            fill: $maincolor;
            padding: 5px;
        }

        & div {
            border-radius: 50%;
            display: grid;
            justify-content: center;
            align-items: center;
            transition: 0.3s;

            &:hover {
                background-color: $bgcol;
            }
        }

        &__info {
            transform: rotateY(180deg);
        }
    }

    &-content {
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
        grid-template-columns: auto 170px;
    }

    &-title {
        display: grid;
        align-items: center;
    }
}

.modal {
    position: fixed;
    background-color: $headerbgcolor;
    width: 20vw;
    height: 33vh;
    padding: 40px;
    z-index: 10;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    row-gap: 20px;
    //grid-template-rows: repeat(3, auto);

    &-body {
        height: 100%;
    }

    & .restart{
        width: 120px;
        height: 30px;
        border-radius: 5px;
        justify-self: center;
        color: $maincolor;
        font-weight: 600;
        border: 2px solid $maincolor;
        background-color: $bgcol;
        letter-spacing: 3px;
    }

    &-body {
        display: grid;
        justify-content: center;
        row-gap: 20px;
        align-items: flex-start;
    }

    & .difficulty {
        display: grid;
        justify-content: center;
        margin-top: 25px;
        text-align: center;
        
    }

    & span {
        font-size: 18px;
    }

    &__close {
        position: absolute;
        right: 20px;
        top: 16px;
        font-weight: 500;
        font-size: 20px;
    }

    &-header {
        text-align: center;
    }
}

body {
    background-color: $bgcol;
    font-family: 'Inter Tight', sans-serif;
}

.restart {
    position: relative;
}

.difficulty {
    position: relative;
}

@mixin rotation($col) {
    @keyframes #{$col} {
        0% {
            background-color: transparent;
            transform: perspective(500px) rotateY(0deg);
        }

        50% {
            transform: perspective(500px) rotateY(90deg);
        }

        100% {
            background-color: $col;
            transform: perspective(500px) rotateY(0deg);
        }
    }
}

@mixin animate($animation,$duration,$method,$times){
    animation: $animation $duration $method $times;
}

.letter {
    width: 60px;
    height: 60px;
    border: 2px solid $maincolor;
    text-align: center;
    font-size: 40px;
    display: grid;
    align-content: center;
    transition: 1s;
    animation-duration: 3s;
    border-radius: 5px;

    &.yellow {
        transform: perspective(500px) rotateY(360deg);
        @include rotation(yellow);
        @include animate(yellow, 0.75s, linear, 1);
    }

    &.green {
        transform: perspective(500px) rotateY(360deg);
        @include rotation(green);
        @include animate(green, 0.75s, linear, 1);
    }

    &.black {
        transform: perspective(500px) rotateY(360deg);
        @include rotation(gray);
        @include animate(gray, 0.75s, linear, 1);
    }
}

.word {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;

    &s {
        width: 100%;
        max-width: $maxwidth;
        display: grid;
        row-gap: 20px;
        align-content: flex-start;
    }
}

.field {
    display: grid;
    justify-content: center;
    padding-top: 3vh;
    grid-template-rows: 65vh auto;
}

.yellow {
    background-color: $yellow;
}

.green {
    background-color: $headerbgcolor;
}

.black {
    background-color: $gray;
}

#enter {
    background-color: $headerbgcolor;
    text-shadow: 1px 1px 0px #000;
}

.keyboard {
    display: grid;
    grid-auto-flow: row;
    font-size: 25px;
    row-gap: 20px;

    &-line {
        display: grid;
        grid-auto-flow: column;
        justify-content: center;
        column-gap: 10px;
    }
}

.key {
    border: 1px black solid;
    border-radius: 5px;
    padding: 4px;
    text-align: center;
    display: grid;
    align-content: center;
    min-width: 25px;
    transition: 0.2s;
    -webkit-box-shadow: 0px 4px 21px 1px rgba(34, 60, 80, 0.25);
    -moz-box-shadow: 0px 4px 21px 1px rgba(34, 60, 80, 0.25);
    box-shadow: 0px 4px 21px 1px rgba(34, 60, 80, 0.25);
    
    &#enter {
        color: white;
    }
    
    &.pressed {
        background-color: gray;
    }
}

.square {
    height: 30px;
    width: 30px;
    border: 1px solid $maincolor;
    border-radius: 4px;
}

.boxes {
    display: grid;
    grid-template-columns: repeat(2, auto);
    row-gap: 20px;
    align-items: center;
    column-gap: 10px;
}